<doctype html>
<title>Dodaj izdavatelja - Python Flask MySQL CRUD</title>
<h2>Dodaj izdavatelja</h2>
<form method="post" action="/dodaj_izdavatelj">
    <dl>
		<p>
			<input name="Ime" value="" type="text" placeholder="Ime" autocomplete="off" required>
		</p>
		<p>
			<input name="Prezime" value="" type="text" placeholder="Prezime" autocomplete="off" required>
		</p>
		<p>
			<input name="Adresa" value="" type="text" placeholder="Adresa" autocomplete="off" required>
		</p>
		<p>
			<input name="Mjesto" value="" type="text" placeholder="Mjesto" autocomplete="off" required>
		</p>
		<p>
			<input name="Postanski_broj" value="" type="number" placeholder="Poštanski broj" autocomplete="off" required>
		</p>		
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>