<!DOCTYPE html>
<html>
<head>
	<title>Izdavatelj</title>
</head>
<body>
	<table>
		<tr>
			<th>Sifra</th>
			<th>Ime</th>
			<th>Prezime</th>
			<th>Adresa</th>
			<th>Mjesto</th>
			<th>Poštanski broj</th>


		</tr>

		{% for row in izdavatelj %}
		<tr>
			<td>{{ row[0] }}</td>
			<td>{{ row[1] }}</td>
			<td>{{ row[2] }}</td>
			<td>{{ row[3] }}</td>
			<td>{{ row[4] }}</td>
			<td>{{ row[5] }}</td>
			<td><a href="/izdavatelj_edit/{{ row[0] }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="
             #modaledit{{row[0]}}">Edit</a></td>


		</tr>
		{% endfor %}

	</table>
</body>
</html>