<!DOCTYPE html>
<html>
<head>
	<title>Knjiga</title>
</head>
<body>
	<table>
		<tr>
			<th>Sifra</th>
			<th>Naslov</th>
			<th>Zanr</th>
			<th>Autor</th>
			<th>Nakladnik</th>
			<th>Izdavanje</th>


		</tr>

		{% for row in knjiga %}
		<tr>
			<td>{{ row[0] }}</td>
			<td>{{ row[1] }}</td>
			<td>{{ row[2] }}</td>
			<td>{{ row[3] }}</td>
			<td>{{ row[4] }}</td>
			<td>{{ row[5] }}</td>
			<td>
             <a href="/knjiga_edit/{{ row[0] }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="
             #modaledit{{row[0]}}">Edit</a>
         </td>
		</tr>
		
		{% endfor %}

	</table>
</body>
</html>