<doctype html>
<title>  Register </title>
<h2> Register </h2>
<form method="post" action="/register">
    <dl>
    	<p>
			<input name="name"  value="" type="text" placeholder="Name" autocomplete="off" required>
		</p>
		<p>
			<input name="email"  value="" type="email" placeholder="Email" autocomplete="off" required>
		</p>
		<p>
			<input name="password" value="" type="password" placeholder="Password" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>